body{
    background-image: url("./greybr.jpg");
    font-family: Arial, Helvetica, sans-serif;
}
li{
    color: white;
    list-style-type: none;
    font-size: 40px;
}
h1{
    color: burlywood;
    padding: 0px 0px 0px 50px;
    font-size: 60px;
}


.nav{
    background-color: black;
    overflow: hidden;
}

.nav a{
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 35px;
  text-decoration: none;
  color: white;
}

.nav a:hover{
   
    opacity: 0.7;
}

.fa{
    text-align: right;
}

li{
    padding-top: 10px;
}

