body{
    background-image: url("./greybr.jpg");
    color: white;
    font-family: fantasy;
}

p{
    font-size: 30px;
    text-align: center;
}
a{
    text-decoration: none;
    color:white;
}

.nav{
    background-color: black;
    overflow: hidden;
    padding-left: 10px;
}

.nav a{
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 35px;
}

.nav a:hover{
   
    opacity: 0.7;
}

.fa{
    text-align: right;
}

ul{
    list-style-type: none;
}

li{
    padding-top: 60px;
    font-size: 35px;
    text-align: center;
}